<div class="ui bottom attached tab segment" data-tab="downloads">
  {{ sylius_template_event('sylius.shop.product.show.tab_downloads', _context) }}
  {% include 'bundles/SyliusShopBundle/Product/Show/Tabs/Downloads/_list.html.twig' %}
</div>

