{% for attribute in product.attributes %}
  {% if attribute.code == 'cancer_harm' and attribute.value %}
    <div role="alert" class="alert alert-danger mt-2">
      WARNING: Cancer and Reproductive Harm -
      <a class="alert-link" aria-label="External link to California Prop 65 Warnings"
         href="https://www.p65warnings.ca.gov" target="_blank">www.p65warnings.ca.gov</a>
    </div>
  {% endif %}
{% endfor %}
