<div class="col">
  <a href="{{ path('sylius_shop_homepage') }}"><img class="logo"
                                                    src="{{ asset('/media/image/logo-200.png', 'bootstrapTheme') }}"
                                                    alt="Sylius logo"/></a>
</div>
