<div class="float-left">
  {% include '/bundles/SyliusShopBundle/Icons/_svg.html.twig' with {'path': '/svg/phone-alt-solid.svg'} %} +1
  856-825-4900 •
  {% include '/bundles/SyliusShopBundle/Icons/_svg.html.twig' with {'path': '/svg/envelope-regular.svg'} %} <a
    class="hidden-xs" href="mailto:sales@raritaneng.com" style="font-size:16px">sales@raritaneng.com</a>
</div>
