<div class="col mb-3">
  <h4>{{ 'footer.about.title'|trans }}</h4>
  <div class="d-flex flex-column">
    <p>
      Raritan Engineering Company, Inc. was founded in 1958 on the basis of the Patent for the PH Marine Toilet. Its
      successor, the PHII is still manufactured by Raritan. The Crown Head, the world's first macerating Marine Toilet
      followed in 1966. The first small on-board waste treatment system came in 1974. The pursuit of innovation has
      continued over the years, with numerous patents and marine product improvements.
    </p>
  </div>
</div>
