{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{# <section class="newsletter mb-3 d-flex align-items-center flex-wrap border"> #}
{# <div class="col"> #}
    {{ bitbag_cms_render_block('newsletter_signup_form') }}
{# </div> #}
{# </section> #}
