{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
  <div class="homepage">
    <main>
      <section id="homepageSlider" class="d-none d-md-block">
        <div class="row">
          <div class="col-12 mb-5">
            {% include 'bundles/SyliusShopBundle/Homepage/_carousel.html.twig' %}
          </div>
        </div>
      </section>
      <section id="homepageContent">
        <div id="homepageIntroContent" class="row mb-2">
          <div class="col-12">
            {{ bitbag_cms_render_block('homepage-1') }}
          </div>
        </div>
        <div id="homepageProducts" class="row my-4">
          <div class="col-12">
            {{ bitbag_cms_render_block('homepage-2') }}
          </div>
        </div>
        <div id="homepageContent" class="row my-4">
          <div class="col-12">
            {{ bitbag_cms_render_block('homepage-3') }}
          </div>
        </div>
      </section>
    </main>
      {{ sylius_template_event('sylius.shop.homepage') }}
  </div>
{% endblock %}
